<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Shows List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container mt-5">
    <h1 class="text-center">Shows List</h1>
    <button class="btn btn-primary" id="forceCheckBtn">Force Check</button>
    <form method="get"
          th:action="@{/shows/create}">
        <button class="btn btn-primary btn-sm" type="submit">Create new</button>
    </form>
    <table class="table table-striped" id="showsTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>URL</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="show : ${shows}" th:onclick="|window.location.href='/videos?showId=' + ${show.id}|"
            style="cursor: pointer;">
            <td th:text="${show.id}"></td>
            <td th:text="${show.title}"></td>
            <td th:text="${show.url}"></td>
            <td th:text="${show.isEnabled != null && show.isEnabled} ? 'Enabled' : 'Disabled'"></td>
            <td class="d-flex">
                <form method="get"
                      th:action="@{/shows/edit/{showId}(showId=${show.id})}">
                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                </form>
                <form method="post" onsubmit="return confirm('Are you sure you want to delete this show?');"
                      th:action="@{/shows/delete/{showId}(showId=${show.id})}">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#forceCheckBtn').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/videos/force-check',
                success: function () {
                    alert('Force check triggered successfully.');
                },
                error: function () {
                    alert('Failed to trigger force check.');
                }
            });
        });
    });
</script>
</body>
</html>